body{
	font-family: 'Anonymous Pro', monospace;
	background-color: #F8F8FF;
}
	
#my-header {
	 	font-family: 'Lato', sans-serif;
	 	color: #FFD700;
    	font-size: 100 px;
    	margin-top: 20px;
    	margin-bottom: 0px;
    	text-align: center;
    	border-bottom: 2px solid;
		border-color: grey;
		padding: 20px;

    }
    .my-list-item {
    	
    	margin-left: 60px;
    	margin-top: 0px;
    	color: #808080;
    	font-size: 20px;
    	padding: 0px;
    	list-style-type: none;
    
    	margin: 0px;

  

    }

      .class1 {
    	display: block;
    	text-align: left;
    	margin-left: 60px;
    	margin-top: 0px;
    	color: #808080;
    	font-size: 20px;
    	padding: 20px;
    	list-style: none;
    	float: left;

    }
    .images{
    	width:500px;
  		max-width:100%;
  		float:left;
   		
		
    	   
    }
   
a:link {text-decoration: none; color: grey;}
a:visited {text-decoration: none; color: grey;}
a:active {text-decoration: none; color: yellow;}
a:hover {text-decoration: none; color: black;}
