/* header */

#box1{
	
	width: 400px;
	height: 40px;
	background: #B9529F;}

#box2{
	
	width: 950px;
	height: 40px;
	background: #F6EB14;}

#box3{
	
	width: 400px;
	height: 40px;
	background: #F59322;}

#box4{
	
	width: 300px;
	height: 40px;
	background: #69BD45;}

/* header END*/


/* Search */

#box5{
	
	width: 500px;
	height: 80px;
	background: #3953A4;
	border: 1px solid black}

#box6{
	
	width: 200px;
	height: 80px;
	background: #3953A4;
	border: 1px solid black}

#box7{
	
	width: 200px;
	height: 80px;
	background: #3953A4;
	border: 1px solid black}

#box8{
	
	width: 200px;
	height: 80px;
	background: #3953A4;
	border: 1px solid black}

#box9{
	
	width: 400px;
	height: 80px;
	background: #3953A4;
	border: 1px solid black}

/* Search END*/

/* ADD */

#box10{
	margin-top:100px;
 	width: 450px;
	height: 250px;
	background: #ED2024;}

/* ADD END*/



/* Bars */

#box11{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box12{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box13{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box14{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box15{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box16{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box17{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

#box18{
	
	width: 300px;
	height: 300px;
	background: #6FCCDD;
	margin:5px;}

/* Bars end */

#header{
 	display:flex;
 	justify-content: flex-start;}


 #searchbar{
 	display:flex;
 	margin:auto;
 	width:80%;
 	margin-top:200px;
 	flex-direction:row;
 	justify-content:flex-end;}

 #ad{
 	display: flex;
 	margin: auto;
 	width:80%;
 	justify-content: flex-end;
 		}




 #misc{
 		display:flex;
	 	margin:auto;
		width:90%;
 		margin-top: 150px;
		justify-content: space-around;
		flex-wrap: wrap;}

 #all{
 		display:flex;
 		flex-direction:column;
 		}




@media all and (max-width: 480px) {
		#menu{
		width: 200px;
		height: 40px;
		background: pink;
		border: 3px solid black;
     

		}
		
		#searchbar{
		flex:5;
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
		max-width: 100%;}
		
		#box5{	
		width: 200px;}
		
		#box9{	
		width: 200px;}
    	
		#ad{max-width: 100%;}
    	#misc{max-width: 100%;}
		#box2, #box9, #box10{
		visibility: hidden;
		position: absolute;
		left: -999999px;}
		#box3{
		visibility: hidden;
		}
		

		}

@media all and (min-width: 480px) and (max-width: 768px) { 
		#misc{
		max-width: 100%;
		}
		#ad{max-width: 100%;}
		#searchbar{max-width: 100%;}

		}

