body{
	
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	background-color: #000080;
	
	margin:auto;
	padding: 5px;

	}

#title{
		
	 	color: #FFD700;
    	font-size: 100 px;
    	margin-top: 20px;
    	margin-bottom: 0px;
    	text-align: center;
    	border-bottom: 2px solid;
		border-color: yellow;
		padding: 20px;
}
#class-schedule{
	border-collapse: collapse;
	margin: auto;
	background-color: #000070;
	padding:5px;
}
#list{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	padding: 15px;
	margin:auto;
	font-size: 0.8em;
	margin-left:150px;
	color: #FFD700;
}
a:link {
    color: white;
}
a:visited {
    color: white;}